{
  "presets": [
    "next/babel"
  ],
  "plugins": [
 [
      "prismjs",
      {
        "languages": [
          "typescript",
          "javascript",
          "css",
          "html",
          "bash",
          "yaml",
          "jsx",
          "tsx",
          "json"
        ],
        "plugins": [
          "line-numbers",
          "show-language"
        ],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}
